Client/src/META-INF/wsdl/localhost_8080/Kulijawa_WebServices/KulijawaWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.kulijawa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.kulijawa.com/" name="KulijawaWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.kulijawa.com/" schemaLocation="http://localhost:8080/Kulijawa_WebServices/KulijawaWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="broadcast">
<part name="parameters" element="tns:broadcast"/>
</message>
<message name="broadcastResponse">
<part name="parameters" element="tns:broadcastResponse"/>
</message>
<message name="checkEmail">
<part name="parameters" element="tns:checkEmail"/>
</message>
<message name="checkEmailResponse">
<part name="parameters" element="tns:checkEmailResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="viewNotifications">
<part name="parameters" element="tns:viewNotifications"/>
</message>
<message name="viewNotificationsResponse">
<part name="parameters" element="tns:viewNotificationsResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="viewUsers">
<part name="parameters" element="tns:viewUsers"/>
</message>
<message name="viewUsersResponse">
<part name="parameters" element="tns:viewUsersResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="viewPurchases">
<part name="parameters" element="tns:viewPurchases"/>
</message>
<message name="viewPurchasesResponse">
<part name="parameters" element="tns:viewPurchasesResponse"/>
</message>
<portType name="KulijawaWebServices">
<operation name="broadcast">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/broadcastRequest" message="tns:broadcast"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/broadcastResponse" message="tns:broadcastResponse"/>
</operation>
<operation name="checkEmail">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/checkEmailRequest" message="tns:checkEmail"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/checkEmailResponse" message="tns:checkEmailResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="viewNotifications">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewNotificationsRequest" message="tns:viewNotifications"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewNotificationsResponse" message="tns:viewNotificationsResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="viewUsers">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewUsersRequest" message="tns:viewUsers"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewUsersResponse" message="tns:viewUsersResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="viewPurchases">
<input wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewPurchasesRequest" message="tns:viewPurchases"/>
<output wsam:Action="http://services.kulijawa.com/KulijawaWebServices/viewPurchasesResponse" message="tns:viewPurchasesResponse"/>
</operation>
</portType>
<binding name="KulijawaWebServicesPortBinding" type="tns:KulijawaWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="broadcast">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewNotifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KulijawaWebServices">
<port name="KulijawaWebServicesPort" binding="tns:KulijawaWebServicesPortBinding">
<soap:address location="http://localhost:8080/Kulijawa_WebServices/KulijawaWebServices"/>
</port>
</service>
</definitions>